# Car Price Prediction Using Machine Learning;

# Loading the Dataset
As usual, let’s import pandas and load the csv file.

In [4]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Administrator\\Downloads\\CarPrice_Assignment.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

# Understanding the Dataset

In [5]:
df.shape # (205, 26)

df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [6]:
for i in df.columns:
  print(f"{i} : {df[i].dtype}")

car_ID : int64
symboling : int64
CarName : object
fueltype : object
aspiration : object
doornumber : object
carbody : object
drivewheel : object
enginelocation : object
wheelbase : float64
carlength : float64
carwidth : float64
carheight : float64
curbweight : int64
enginetype : object
cylindernumber : object
enginesize : int64
fuelsystem : object
boreratio : float64
stroke : float64
compressionratio : float64
horsepower : int64
peakrpm : int64
citympg : int64
highwaympg : int64
price : float64

In [7]:
cat_columns = []
num_columns = []
for i in df.columns:
  if df[i].dtype == object:
    cat_columns.append(i)
  else:
    num_columns.append(i)


cat_columns

['CarName',
 'fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'enginetype',
 'cylindernumber',
 'fuelsystem']

In [8]:
for i in cat_columns:
  print(f"{i}: {df[i].nunique()}")

CarName: 147
fueltype: 2
aspiration: 2
doornumber: 2
carbody: 5
drivewheel: 3
enginelocation: 2
enginetype: 7
cylindernumber: 7
fuelsystem: 8

In [9]:
print(df['fueltype'].value_counts())
print('------------------------------')
print(df['aspiration'].value_counts())
print('------------------------------')
print(df['doornumber'].value_counts())
print('------------------------------')
print(df['carbody'].value_counts())
print('------------------------------')
print(df['drivewheel'].value_counts())
print('------------------------------')
print(df['enginelocation'].value_counts())
print('------------------------------')
print(df['enginetype'].value_counts())
print('------------------------------')
print(df['cylindernumber'].value_counts())
print('------------------------------')
print(df['fuelsystem'].value_counts())

gas       185
diesel     20
Name: fueltype, dtype: int64
------------------------------
std      168
turbo     37
Name: aspiration, dtype: int64
------------------------------
four    115
two      90
Name: doornumber, dtype: int64
------------------------------
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64
------------------------------
fwd    120
rwd     76
4wd      9
Name: drivewheel, dtype: int64
------------------------------
front    202
rear       3
Name: enginelocation, dtype: int64
------------------------------
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64
------------------------------
four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64
------------------------------
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64

In [10]:
df['CarName'] = df['CarName'].str[:5]

df['CarName'].head(40)

0     alfa-
1     alfa-
2     alfa-
3     audi
4     audi
5     audi
6     audi
7     audi
8     audi
9     audi
10    bmw 3
11    bmw 3
12    bmw x
13    bmw x
14    bmw z
15    bmw x
16    bmw x
17    bmw x
18    chevr
19    chevr
20    chevr
21    dodge
22    dodge
23    dodge
24    dodge
25    dodge
26    dodge
27    dodge
28    dodge
29    dodge
30    honda
31    honda
32    honda
33    honda
34    honda
35    honda
36    honda
37    honda
38    honda
39    honda
Name: CarName, dtype: object

In [11]:
df[cat_columns].nunique()

CarName           31
fueltype           2
aspiration         2
doornumber         2
carbody            5
drivewheel         3
enginelocation     2
enginetype         7
cylindernumber     7
fuelsystem         8
dtype: int64

In [ ]:
Handling the Categorical Variables

In [12]:
df1 = df.copy()

In [13]:
df1.replace({'fueltype':{'gas':0, 'diesel':1}}, inplace=True)
df1.replace({'aspiration':{'std':0, 'turbo':1}}, inplace=True)
df1.replace({'doornumber':{'four':0, 'two':1}}, inplace=True)
df1.replace({'enginelocation':{'front':0, 'rear':1}}, inplace=True)
df1.replace({'drivewheel':{'fwd':0, 'rwd':1, '4wd':2}}, inplace=True)
df1.replace({'carbody':{'sedan':0, 'hatchback':1, 'wagon':2, 'hardtop':3, 'convertible':4}}, inplace=True)
df1.replace({'cylindernumber':{'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'eight':8, 'twelve':12}}, inplace=True)

In [14]:
pd.set_option('display.max_columns', 100)
df1.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-,0,0,1,4,1,0,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-,0,0,1,4,1,0,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-,0,0,1,1,1,0,94.5,171.2,65.5,52.4,2823,ohcv,6,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi,0,0,0,0,0,0,99.8,176.6,66.2,54.3,2337,ohc,4,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi,0,0,0,0,2,0,99.4,176.6,66.4,54.3,2824,ohc,5,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [15]:
df1_cat_columns = []
df1_num_columns = []
for i in df1.columns:
  if df1[i].dtype == object:
    df1_cat_columns.append(i)
  else:
    df1_num_columns.append(i)


df1_cat_columns

['CarName', 'enginetype', 'fuelsystem']

In [16]:
df1[df1_cat_columns]

    CarName enginetype fuelsystem
0     alfa-       dohc       mpfi
1     alfa-       dohc       mpfi
2     alfa-       ohcv       mpfi
3     audi         ohc       mpfi
4     audi         ohc       mpfi
..      ...        ...        ...
200   volvo        ohc       mpfi
201   volvo        ohc       mpfi
202   volvo       ohcv       mpfi
203   volvo        ohc        idi
204   volvo        ohc       mpfi

[205 rows x 3 columns]

In [17]:
df1[df1_cat_columns]

    CarName enginetype fuelsystem
0     alfa-       dohc       mpfi
1     alfa-       dohc       mpfi
2     alfa-       ohcv       mpfi
3     audi         ohc       mpfi
4     audi         ohc       mpfi
..      ...        ...        ...
200   volvo        ohc       mpfi
201   volvo        ohc       mpfi
202   volvo       ohcv       mpfi
203   volvo        ohc        idi
204   volvo        ohc       mpfi

[205 rows x 3 columns]

In [18]:
df1.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype              int64
aspiration            int64
doornumber            int64
carbody               int64
drivewheel            int64
enginelocation        int64
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber        int64
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

# The “car_ID” column is useless so let’s remove that from the feature as well.

In [23]:
y = df1['price']
X = df1.drop(columns=['price', 'car_ID'])

In [ ]:
Train Test Split
We are going to use 80% from training and 20% for testing.

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=786)